.heroContainer {
  position: relative;
  background-image: url("../../assets/images/home-main-bg.png");
  background-position: center;
  background-size: contain;
  height: calc(100vh - 60px);
}

.brandLabel {
  display: block;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 16px;
}

.mainText {
  position: absolute;
  bottom: 84px;
  left: 56px;
  color: white;
}

.mainText span {
  margin-bottom: 32px;
}

.mainText p {
  font-weight: 300;
  max-width: 580px;
  font-size: 34px;
  margin: 0;
}

@media (min-width: 1023px) {
  .heroContainer {
    height: calc(100vh - 116px);
  }
}
