.heroContainer {
  position: relative;
  background-image: url("../../assets/images/home-main-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 415px;
}

.brandLabel {
  display: block;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 16px;
}

.mainText {
  position: absolute;
  bottom: 22px;
  left: 16px;
  right: 16px;
  color: white;
}

.mainText span {
  margin-bottom: 32px;
}

.mainText p {
  font-weight: 300;
  max-width: 580px;
  font-size: 34px;
  margin: 0;
}

.filtersContainer {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.filterDropdown label {
  color: rgba(255, 255, 255, 0.5);
}

.filterDropdown select {
  color: white;
}

@media (min-width: 1023px) {
  .mainText {
    bottom: 84px;
    left: 56px;
  }

  .heroContainer {
    height: calc(100vh - 116px);
  }

  .filtersContainer {
    padding: 32px;
    flex-direction: row-reverse;
    background-color: white;
  }

  .filterDropdown label {
    color: rgba(0, 0, 0, 0.5);
  }

  .filterDropdown select {
    color: black;
    border-bottom: 1px solid black;
  }
}
